@tailwind base;
@tailwind components;
@tailwind utilities;

/* 模式切换的动画效果设置 */
.dark::view-transition-old(root),
.dark::view-transition-new(root) {
    @apply animate-none mix-blend-normal;
}

::view-transition-old(root),
::view-transition-new(root) {
    @apply animate-none mix-blend-hue
}

.dark::view-transition-new(root),
::view-transition-new(root) {
    @apply z-[9999]
}

.dark::view-transition-old(root),
::view-transition-old(root) {
    @apply z-[1]
}

/*去除浏览器密码框默认出现的小眼睛，与本项目的style不符~*/
input[type="password"]::-webkit-credentials-cramble-button {
    @apply appearance-none
}

input[type="password"]::-ms-reveal {
    @apply hidden
}

input[type="password"]::-ms-clear {
    @apply hidden
}

input[type="password"]::-o-clear {
    @apply hidden
}

input[type="password"] {
    -webkit-appearance: none;
    appearance: none;
}

.theme-toggle__expand {
    @apply h-6 w-6;
}

:root {
    --toastify-color-info: #006fee;
    --toastify-color-success: #17c964;
    --toastify-color-warning: #f5a524;
    --toastify-color-error: #f31260;
}

.no-scrollbar {
    /* 隐藏默认的滚动条样式 */
    /* Firefox */
    scrollbar-width: none;
    /* IE and Edge */
    -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari, and Opera */
    @apply hidden
}